<ul>
  <li><%= link_to('Ross', friends_ross_path) %></li>
  <li><%= link_to('Monica', friends_monica_path) %></li>
  <li><%= link_to('Rachel', friends_rachel_path) %></li>
  <li><%= link_to('Phoebe', friends_phoebe_path) %></li>
  <li><%= link_to('Chandler', friends_chandler_path) %></li>
  <li><%= link_to('Joey', friends_joey_path) %></li>
</ul>