<h1>Friends#ross</h1>
<p>Find me in app/views/friends/ross.html.erb</p>

<%# Rendering a partial, passing the @friend instance variable to it as a
    local variable named "friend" %>
<%= render partial: 'friend', locals: { friend: @friend } %>

<%# Debugging via inspect %>
<%= @friend.inspect %>

<%# Debugging via Debug %>
<%= debug @friend %>

<%# Debugging via to_yaml %>
<%= simple_format @friend.to_yaml %>

<%# Simple partial without local variables %>
<%= render 'links' %>